# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# Byte-compiled eggs
*.egg
*.egg-info
dist
build

# Logs
*.log

# Git and other VCS
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*.yml

# OS junk
.DS_Store
Thumbs.db

# IDE/editor stuff
.vscode/
.idea/
*.swp
